# Created by https://www.toptal.com/developers/gitignore/api/code
# Edit at https://www.toptal.com/developers/gitignore?templates=code

### Code ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.venv


# End of https://www.toptal.com/developers/gitignore/api/code

exercises/2.2/*
node_modules

# Jetbrains folders
.idea