img {
    width: 150px;
}

.super-mario {
    position: absolute;
    top: 80px;  
}

.goomba {
    position: absolute;
    top: 320px;
}

.baloon {
    position: absolute;
    z-index: 1;
}

.word {
    position: absolute;
    z-index: 2;
    top: 95px;
    font-size: 14px;
}